ansible/kubespray-venv
ansible/kubespray/*
ansible/kubespray/inventory/*/artifacts/
ansible/kubespray/inventory/*/credentials/
!ansible/kubespray/inventory/
.vscode/
VMwareCSiPlugin/*
mongotest/key.txt
gitlab/gitlab
kube-prometheus-stack/*
!kube-prometheus-stack/changed_values.yaml
metrics-server/*
!metrics-server/changed_values.yaml
rabbitmq/rabbitmq/*
!rabbitmq/changed_values.yaml
cockroachdb/cockroachdb/
ingress-nginx/ingress-nginx/*
cloud-native-storage-self-service-manager/*
influxdb/influxdb2/*
telegraf/telegraf/
dns/coredns-config.yaml
dns/coredns-config-new.yaml
gitlab/runner/gitlab-runner_amd64.deb