ansible/kubespray-venv
ansible/kubespray/*
ansible/kubespray/inventory/*/artifacts/
ansible/kubespray/inventory/*/credentials/
!ansible/kubespray/inventory/
.vscode/
VMwareCSiPlugin/*
mongotest/key.txt
gitlab/gitlab
kube-prometheus-stack/*
!kube-prometheus-stack/changed_values.yaml